<form action="/users/send-password" method="post">

    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="email" id="floatingInput" placeholder="Email"
            required>
    </div>
    <br>
    <button type="submit" class="btn btn-warning mb-3">Send password</button>
</form>