<h2>
    welcome <%= user.name %>
    <br>
    <a href="/users/password/reset/page">
        <button >Reset Password</button>
    </a>
    <a href="/users/sign-out">
        <button>Signout</button>
    </a>

</h2>