<form action="/users/reset/password" method="POST">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirm_password" placeholder="confirm password">
    <input type="submit">

</form>