<div class="container">
<form action="/users/reset/password" method="POST">
    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="password" id="floatingInput" placeholder="password" required>
    </div>
    <br>
    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="confirm_password" id="floatingInput" placeholder="confirm password" required>
    </div>
    <br>
    <button type="submit" class="btn btn-warning mb-3" >Submit</button>

</form>

</div>