
<div class="container">
    <h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="email" id="floatingInput" placeholder="email" required>
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" style="width:30%;" name="password" id="floatingInput" placeholder="password" required>
        <label for="floatingInput">Password</label>
    </div>
  
    <button type="submit" class="btn btn-warning mb-3" >Sign In</button>

</form>
<hr>
<h3>(or)</h3>

<a href="/users/auth/google"> <button type="submit" class="btn btn-danger mb-3" > Google SignIn/signUp </button>
</a>

</div>
