<div class="container">
<h1>Sign Up</h1>
<% if (message.error) { %>
    <div class="alert alert-danger" role="alert">
        <%= message.error %>
      </div>

<%} %>

<form action="/users/create" method="POST">
    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="name" id="floatingInput" placeholder="Enter name" required>
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="email" id="floatingInput" placeholder="Enter email" required>
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" style="width:30%;" name="password" id="floatingInput" placeholder="password" required>
        <label for="floatingInput">Password</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="confirm_password" id="floatingInput" placeholder="Confirm password" required>
        <label for="floatingInput">Confirm Password</label>
    </div>
  
    <div class="g-recaptcha"  data-sitekey="6Ldi_WwlAAAAAFs62ECTEii-QCA2yOeBY-lKQdIp"></div>
    <br />
    <button type="submit" class="btn btn-warning mb-3" >Sign Up</button>



</form>
<hr>
<h3>(or)</h3>

<a href="/users/auth/google"> <button type="submit" class="btn btn-danger mb-3" > Google SignIn/signUp </button>
</a>

</div>