
<div class="container">
    <h1>Sign In</h1>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= message.error %>
          </div>
    
    <%} %>

<form action="/users/create-session" method="POST">
    <div class="form-floating">
        <input type="text" class="form-control" style="width:30%;" name="email" id="floatingInput" placeholder="email" required>
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" style="width:30%;" name="password" id="floatingInput" placeholder="password" required>
        <label for="floatingInput">Password</label>
    </div>
    <div class="g-recaptcha"  data-sitekey="6Ldi_WwlAAAAAFs62ECTEii-QCA2yOeBY-lKQdIp"></div>
    <br />
    <button type="submit" class="btn btn-warning mb-3" >Sign In</button>
    <a href="/users/forget-password"> forgot password</a>

</form>
<hr>
<h3>(or)</h3>

<a href="/users/auth/google"> <button type="submit" class="btn btn-danger mb-3" > Google SignIn/signUp </button>
</a>

</div>
